#drag_box_zone {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.drag-box {
    height: 108px;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 300px;
    background-color: rgba(135, 207, 235, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.drag-box-item {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 4em;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 0 5px 0 5px;
    cursor: move;
}

.dragging {
    opacity: 0.6;
}

.drop-disabled {
    background-color: rgba(255, 106, 106, 0.5);
}